* {
    font-family: roboto, Arial, sans-serif;
}

.header {
    border: 5px solid red;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px 300px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 300px;
}

#placeholder-image {
    width: 700px;
    height: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.61);
}

.first-subsection {
    display: flex;
    background-color: #1F2937;
    border: 5px solid blue;
    justify-content: space-between;
}
.first-header, .secondary-text {
    flex-wrap: wrap;
    width: 700px;
}
.first-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin-bottom: 15px;
}

.secondary-text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #E5E7EB;
}

button {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 35px;
}

.introduction-section {
    margin-left: 300px;
}

.second-subsection {
    border: 5px solid orange;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.subtext {
    font-size: 18px;
    text-align: center;
}

.item-container {
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    gap: 70px
}

.item {
    max-width: 200px;
}