/* The following selector sets the font of all text on the landing page. */
* {
    font-family: roboto, Arial, sans-serif;
}

/* The following class selector sets the background color of the landing page header and properly align/spaces the header logo and links. */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The following class selector sets the font styling and placement of the header logo. */
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px 300px;
}

/* The following class selector sets the font styling and placement of the header links. */
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 300px;
}

/* The following id selector sets the size and placement of the image placeholder*/
#placeholder-image {
    width: 700px;
    height: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.61);
}

/* The following class selector sets the background color of the first subsection and sets the placement of all the elements within the subsection. */
.first-subsection {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* The following class selector makes it so that the text in the first subsection wraps to the next line. */
.first-header, .secondary-text {
    flex-wrap: wrap;
    width: 700px;
}

/* The following class selector sets the font styling and spacing of the Hero Main text (first subsection header). */
.first-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin-bottom: 15px;
}

/* The following class selector sets the font styling and spacing of the Hero Secondary text. */
.secondary-text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #E5E7EB;
}

/* The following type selector sets the styling and spacing of the "sign-up" button in the first subsection. */
button {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 35px;
}

/* The following class selector sets the position of the Hero Main text and Hero Secondary text towards the left of the landing page. */
.introduction-section {
    margin-left: 300px;
}

/* The following class selector sets the padding for the second-subsection. */
.second-subsection {
    padding-bottom: 150px;
}

/* The following class selector sets the font styling, spacing, and positioning of the header in the second subsection. */
.information-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* The following class selector sets the size and styling of the image/illustraton placeholders in the second subsection. */
.image {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

/* The following class selector sets the font size and alignment of the subtext under each image/illustration placeholder in the second subsection. */
.subtext {
    font-size: 18px;
    text-align: center;
}

/* The following class selector aligns and centers all the image/illustration placeholders and their subtext in the second subsection. */
.item-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

/* The following class selector sets the maximum width for each of the image/illustration placeholders and their subtext in the second subsection. */
.item {
    max-width: 200px;
}

/* The following class selector sets the background color of the third subsection and centers the elements within it. */
.third-subsection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* The following class selector sets the font styling and width of the quote text. */
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 1010px;
}

/* The following class selector sets the font styling and quote signature width. */
.quote-signature {
    font-size: 24px;
    font-weight: 900;
    width: fit-content;
}

/* The following class selector aligns the quote signature towards the left under the quote text above it. */
.signature-container {
    width: 1010px;
    display: flex;
    justify-content: flex-end;
}

/* The following class selector sets the padding and placement of the elements in the fourth subsection. */
.fourth-subsection {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

/* The following class selector sets the size, background color, and placement of the container for the call to action elements in the fourth subsection. */
.call-to-action-container {
    width: 1400px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* The following class selector sets the font style and color of the main call to action in the fourth subsection. */
.call-to-action-bold {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

/* The following class selector sets the font style and color of the call to action subtext in the fourth subsection. */
.call-to-action-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

/* The following class selector is used as a container for the call to action text and aligns the text towards the left side of the fourth subsection. */
.call-to-action-text {
    height: fit-content;
}

/* The following class selector sets the styling of the call to action "sign up" button. */
.call-to-action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    border-radius: 10px;
}

/* The following class selector sets the background color of the footer and sets the spacing/placement of the copyright text. */
.footer {
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The following class selector sets the font style of the copyright text in the footer. */
.footer-text {
    font-size: 18px;
    color: #E5E7EB;
}