* {
    font-family: roboto, Arial, sans-serif;

}
.header {
    border: 5px solid red;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px 300px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px 300px;
}

#placeholder-image {
    width: 600px;
    height: auto;
}